<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3 sticky-top">
  <a class="navbar-brand" href="/">Message Board</a>
  <div class="" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/message-board">Messages</a>
      <a class="nav-item nav-link" href="/create-message">Create a message</a>

      <%if(isAuthenticated) {%>
      <a class="nav-item nav-link" href="/users/log-out">Log Out</a>
      <% } else { %>
      <a class="nav-item nav-link" href="/users/sign-up">Sign Up</a>
      <a class="nav-item nav-link" href="/users/log-in">Log In</a>
      <% } %>
    </div>
    <div class="navbar-nav ml-auto"></div>
  </div>
</nav>
